USE [master]
GO
/****** Object:  Database [LotteryTicketDATA]    Script Date: 2018/10/30 11:03:26 ******/
CREATE DATABASE [LotteryTicketDATA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LotteryTicketDATA', FILENAME = N'E:\LotteryTicketDATA.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LotteryTicketDATA_log', FILENAME = N'E:\LotteryTicketDATA_log.ldf' , SIZE = 13632KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LotteryTicketDATA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LotteryTicketDATA]
GO
USE [LotteryTicketDATA]
GO
/****** Object:  Table [dbo].[BuyInfo]    Script Date: 2018/10/30 11:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuyInfo](
	[BuyID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[LotteryTcketID] [nvarchar](50) NOT NULL,
	[NtesItegration] [int] NOT NULL,
	[NtesID] [int] NOT NULL,
	[NtesGade] [int] NOT NULL,
	[NtesTimer] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InviteInfo]    Script Date: 2018/10/30 11:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InviteInfo](
	[InviteID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Invite] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_InviteInfo] PRIMARY KEY CLUSTERED 
(
	[InviteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LotteryTcketInfo]    Script Date: 2018/10/30 11:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LotteryTcketInfo](
	[LotteryTcketID] [int] IDENTITY(1,1) NOT NULL,
	[LotteryTcket] [nvarchar](50) NOT NULL,
	[LotteryTcketNmber] [nvarchar](50) NOT NULL,
	[BigRate] [float] NULL,
	[SmallRate] [float] NULL,
	[SingleRate] [float] NULL,
	[DoubleRate] [float] NULL,
	[Timer] [datetime] NOT NULL,
	[Explain] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NtesGalInfo]    Script Date: 2018/10/30 11:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NtesGalInfo](
	[NtesGalID] [int] IDENTITY(1,1) NOT NULL,
	[NtesID] [nvarchar](50) NOT NULL,
	[Rmarks] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SateInfo]    Script Date: 2018/10/30 11:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SateInfo](
	[SateID] [int] IDENTITY(1,1) NOT NULL,
	[SateDate] [nvarchar](50) NOT NULL,
	[SateBgin] [nvarchar](50) NULL,
	[SateEnd] [nvarchar](50) NULL,
	[SateState] [int] NOT NULL,
	[SateRmarks] [nvarchar](50) NULL,
 CONSTRAINT [PK_SateInfo] PRIMARY KEY CLUSTERED 
(
	[SateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 2018/10/30 11:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UserPass] [nvarchar](50) NOT NULL,
	[UserInvite] [int] NULL,
	[UserAuthority] [int] NOT NULL,
	[UserIntegration] [float] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_UserInfo_UserIntegration]  DEFAULT ((0)) FOR [UserIntegration]
GO
USE [master]
GO
